a {
  color: inherit;
  text-decoration: inherit;
}

.card {
  min-width: 200px;
  min-height: 100px;
  border-radius: 20px;
  padding: 20px;
  background: rgb(118, 128, 154);
  background: linear-gradient(
    73deg,
    rgba(118, 128, 154, 1) 0%,
    rgba(214, 219, 231, 1) 100%
  );
  text-transform: uppercase;
}

.card.add-new {
  border: 2px dashed rgb(41, 41, 63);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}
.card.add-new:hover {
  opacity: 0.9;
  cursor: pointer;
}

.card-logo {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}
.card-logo img {
  width: auto;
  height: 40px;
}

.card-chip {
  width: 40px;
}

.card-number {
  font-size: 1.5em;
}
.card-info {
  display: flex;
  justify-content: space-between;
}

/* Forms */
.card-number-input {
  display: flex;
}
.card-number-input > * {
  width: 100px;
}
.error {
  color: red;
  margin-top: 0.2em;
}
label {
  display: block;
  margin-top: 15px;
}
input {
  min-width: 0;
  padding: 10px;
}
button {
  width: 100%;
  color: white;
  margin-top: 20px;
  border: none;
  padding: 14px 20px;
  background-color: rgb(0, 123, 255);
  border-radius: 3px;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

/* Page related */
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 50px auto;
}
.cards-container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.edit-card-container {
  max-width: 400px;
  margin: 50px auto;
}
